/* ======================= Start-NavFoot ======================= */
.navbar .activetext {
  color: var(--gray);
}
.navbar .active {
  color: var(--warning) !important;
}
.navbar .navhide {
  position: absolute;
  right: -50%;
  width: 50% !important;
  transition: all 0.3s ease-in 0s;
}
.navbar .navview {
  position: absolute;
  right: 0%;
  width: 100% !important;
  transition: all 0.3s ease-in 0s;
}
/* ======================= End-NavFoot ======================= */

/* ======================= Start-Generic ======================= */
.abs-hero {
  position: absolute !important;
  top: 8% !important;
  left: -40% !important;
  @media (max-width: 640px) {
    top: 5% !important;
    left: -34% !important;
  }
}
.mb-minus {
  margin-bottom: -40% !important;
  @media (max-width: 640px) {
    margin-bottom: 0% !important;
  }
}
@media (max-width:640px) {
  .sm-col-reverse{
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}
.minus-right-1 {
  right: -1px !important;
}
.search-img{
  height: 50px !important;
}
.bg_hero {
    background: url('https://raw.githubusercontent.com/Rstar-1/generic/refs/heads/main/mayur/img/side2.png'), 
    radial-gradient(50% 50% at center top, #e9e7fd -50%, #e9e7fd5c) !important;
}
/* ======================= End-Generic ======================= */
